.about {
  display: flex;
  background-color: #ffffff;
  height: 624px;
}

.about__container {
  max-width: 600px;
}

.about__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 131px 0 0;
}

.about__content {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 24px 0 0;
}

.about__avatar-image {
  min-width: 464px;
  min-height: 464px;
  border-radius: 100%;
  margin: 80px 56px 80px 104px;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .about {
    height: 354px;
    width: 100%;
  }

  .about__container {
    max-width: 424px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 40px 0 0;
  }
  .about__content {
    margin: 16px 0 0;
  }
  .about__avatar-image {
    min-width: 232px;
    min-height: 232px;
    margin: 61px 32px 61px 40px;
  }
}

@media screen and (max-width: 550px) {
  .about {
    min-height: 752px;
    flex-direction: column;
    align-items: center;
  }
  .about__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .about__title {
    width: 288px;
    margin: 24px 16px 0;
  }
  .about__content {
    width: 288px;
    margin: 0 16px;
  }
  .about__avatar-image {
    width: 272px;
    max-height: 272px;
    margin: 32px 24px 0;
  }
}
