.navigation {
  width: 100%;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.navigation_type_save-articles {
  background-color: white;
  border-bottom: 1px solid #d1d2d6;
}

.navigation__wrapper {
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 19px;
  background: transparent;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 104px;
  margin-left: 104px;
}

.navigation__wrapper-bg {
  background-color: #1a1b22;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 19px;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
}

.navigation__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.navigation__menu {
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  justify-content: space-between;
}

.navigation__menu-list {
  display: flex;
  align-items: center;
  gap: 70px;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.navigation__link {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navigation__link-active {
  box-shadow: 0 -2px 0 0 rgb(255, 255, 255) inset;
  -webkit-box-shadow: 0 -2px 0 0 rgb(255, 255, 255) inset;
  -moz-box-shadow: 0 -2px 0 0 rgb(255, 255, 255) inset;
}

.navigation__link-active_black {
  box-shadow: 0 -2px 0 0 rgb(0, 0, 0) inset;
  -webkit-box-shadow: 0 -2px 0 0 rgb(0, 0, 0) inset;
  -moz-box-shadow: 0 -2px 0 0 rgb(0, 0, 0) inset;
}

.navigation__link_black {
  color: #000000;
  text-decoration-line: none;
}

.navigation__button {
  border-radius: 100px;
  padding: 12px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 17px;
  cursor: pointer;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  width: 176px;
}

.navigation__button:hover {
  opacity: 0.6;
}

.navigation__button-text {
  margin: 0 auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.navigation__button_black {
  color: rgba(26, 27, 34, 1);
  width: 112px;
  height: 48px;
  padding: 8px 12px 8px 15px;
  gap: 5px;
  border-radius: 100px;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #1a1b22;
}

.navigation__button_black:hover {
  opacity: 0.6;
}

.navigation__button-icon {
  width: 17px;
  height: 17px;
}

.navigation__hamburger {
  display: none;
  width: 24px;
  height: 24px;
  background-position: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.navigation__hamburger:hover {
  opacity: 0.6;
}

.navigation__mobile-menu {
  display: none;
}

.navigation__menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
}

.navigation__mobile-menu_opened {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation__mobile-menu_opened-white {
  background-color: #ffffff;
}

.navigation__menu-list_mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation__close-icon {
  width: 24px;
  height: 24px;
  margin: auto 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: 0;
  cursor: pointer;
}

.navigation__close-icon-black {
  width: 24px;
  height: 24px;
  margin: auto 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: 0;
  cursor: pointer;
  filter: invert(100%);
}

.navigation__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1300px) {
  .navigation__wrapper {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .navigation__menu-list {
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .navigation__wrapper {
    margin-right: 16px;
    margin-left: 16px;
  }

  .navigation__button {
    width: 152px;
    font-size: 16px;
  }

  .navigation__button_black {
    width: 100px;
    height: 40px;
  }
}

@media screen and (max-width: 650px) {
  .navigation__menu {
    display: none;
  }

  .navigation__menu-list {
    align-items: flex-start;
    margin-left: 16px;
  }

  .navigation__menu_hamburger-opened {
    display: flex;
  }

  .navigation__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation__hamburger {
    display: block;
  }

  .navigation__mobile {
    display: block;
  }

  .navigation__menu-list {
    gap: 22px;
  }

  .navigation__close-button {
    display: block;
  }

  .navigation__button {
    width: 288px;
    height: 56px;
  }

  .navigation__button-text {
    font-size: 18px;
    font-weight: 500;
    max-width: 55px;
  }

  .navigation__button_black {
    width: 288px;
    height: 56px;
    margin-left: 10px;
  }

  .navigation__button-text-black {
    margin-left: 70px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 510px) {
  .navigation__button {
    width: 288px;
    font-size: 18px;
  }
}

@media screen and (max-width: 330px) {
  .navigation__button_black {
    margin-left: 5px;
  }
}
